body {
  padding: remy(48px) remy(24px);
  background-color: aquamarine !important;
  height: 100%;
  @media screen and (min-width: 961px) {
    margin: 0 auto;
    width: 100%;
    max-width: remy(960px);
  }
}

#root,
.wrapper {
  height: 100%;
}
